{{> head }}

<body style="font-family: 'Prompt', sans-serif;">

    {{>navbar }}
    {{{body}}}

  {{>footer}} 

  <style>
    body{
      background-color: transparent;
    }
  </style>

  
  


</body>
</html>